Activité Pratique N° 5/client-java/src/main/java/proxy/BanqueWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.enset.ma/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.enset.ma/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.enset.ma/" schemaLocation="http://localhost:8088/?xsd=1"/>
</xsd:schema>
</types>
<message name="listeComptes">
<part name="parameters" element="tns:listeComptes"/>
</message>
<message name="listeComptesResponse">
<part name="parameters" element="tns:listeComptesResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="Convert">
<part name="parameters" element="tns:Convert"/>
</message>
<message name="ConvertResponse">
<part name="parameters" element="tns:ConvertResponse"/>
</message>
<portType name="BanqueService">
<operation name="listeComptes">
<input wsam:Action="http://ws.enset.ma/BanqueService/listeComptesRequest" message="tns:listeComptes"/>
<output wsam:Action="http://ws.enset.ma/BanqueService/listeComptesResponse" message="tns:listeComptesResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws.enset.ma/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws.enset.ma/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="Convert">
<input wsam:Action="http://ws.enset.ma/BanqueService/ConvertRequest" message="tns:Convert"/>
<output wsam:Action="http://ws.enset.ma/BanqueService/ConvertResponse" message="tns:ConvertResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listeComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Convert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8088/"/>
</port>
</service>
</definitions>